html, body {
  height: 100%;
  width: 100%;
  background-color: #722d00;
  box-sizing: border-box;
}
input{
  padding: 10px;
  background-color: white;
  width: 300px;
  border-radius: 10px;
}
input[type= color]{
 padding: 5px;
  width: 150px;
}